<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <style>
        /* <Your codes here> (bonus points) */
    </style>
</head>

<body>



<form method="POST" action="/login">
    <h1>Login</h1>

    <!-- the input box and label for user Id -->
    <label for="userId">ID</label>
    <input type="text" id="userId" name="userId"/>

    <!-- the input box and label for user password -->

    <!-- Your codes here -->

    <!-- the login button -->
    
    <!-- Your codes here -->
</form>



</body>
</html>
