<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>


    <style>
        /* <Your codes here> */
    </style>
</head>

<body>



<div class="profile">
    <!-- for the profile image -->
    <!-- Hints: refer to the data of the testIds.js -->
    <!-- Uses the "<%= %>" tags. -->

    <!-- Your codes here -->

    <!-- the user information(name, student number) -->
    <!-- Hints: refer to the data of the testIds.js -->
    <div class="profile-info">
        <!-- Your codes here -->
    </div>

    <!-- the logout button -->

    <!-- Your codes here -->
</div>



</body>
</html>
